<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
<script src ="javascripts/jquery-3.3.1.js"></script>
<script src ="javascripts/Transactions.js"></script> 
<link rel = "stylesheet" type="text/css" href = "stylesheets/normalize.css" /> 
  </head>
  <body>
    <div class="container"  style= "width:350px; height:250px; margin-top:-20px; background-color:red;" >
		<h2 onclick ="f1()">UFSC-Blumenau: </h2>
		<h3>Temperatura:</h3>
		<h3 style="margin-top: -42px; margin-left:125px;" id="bnut" >t</h3>
		<h3 style="margin-top: -40px; margin-left:150px;">°C</h3>
		<h3>Humidade:</h3>
		<h3 style="margin-top: -42px; margin-left:100px;" id="bnuh" >h</h3>
		<h3 style="margin-top: -40px; margin-left:120px;">%</h3>	
			
		<h3>Velocidade do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:175px;" id="bnus" >s</h3>
		<h3 style="margin-top: -40px; margin-left:200px;">m/s</h3>	
		<h3>Direção do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:150px;" id="bnud" >d</h3>
		<h3 style="margin-top: -40px; margin-left:180px;">deg</h3>	
    </div>
     <div class="container"  style= "width:350px; height:250px; background-color:green; margin-left:350px;margin-top:-270px;" >
		<h2 onclick ="f2()">Porto de Itajaí: </h2>
		<h3>Temperatura:</h3>
		<h3 style="margin-top: -42px; margin-left:125px;" id="itjt" >t</h3>
		<h3 style="margin-top: -40px; margin-left:150px;">°C</h3>
		
		<h3>Humidade:</h3>
		<h3 style="margin-top: -42px; margin-left:100px;" id="itjh" >h</h3>
		<h3 style="margin-top: -40px; margin-left:120px;">%</h3>	
		
		<h3>Velocidade do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:175px;"  id="itjs" >s</h3>
		<h3 style="margin-top: -40px; margin-left:200px;">m/s</h3>	
		
		<h3>Direção do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:150px;" id="itjd" >d</h3> 
		<h3 style="margin-top: -40px; margin-left:180px;">deg</h3>
		    
     </div>
     <div class="container"  style= "width:350px; height:250px; background-color:blue; margin-left:700px;margin-top:-270px;" >
		<h2 onclick ="f3()">Aeroporto de Navegantes: </h2>
		<h3>Temperatura:</h3>
		<h3 style="margin-top: -42px; margin-left:125px;" id="nvgt" >t</h3>
		<h3 style="margin-top: -40px; margin-left:150px;">°C</h3>
		
		<h3>Humidade:</h3>
		<h3 style="margin-top: -42px; margin-left:100px;" id="nvgh" >h</h3>
		<h3 style="margin-top: -40px; margin-left:120px;">%</h3>	
		
		<h3>Velocidade do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:175px;"  id="nvgs" >s</h3>
		<h3 style="margin-top: -40px; margin-left:200px;">m/s</h3>	
		
		<h3>Direção do Vento:</h3>
		<h3 style="margin-top: -42px; margin-left:150px;"  id="nvgd" >d</h3>     
		<h3 style="margin-top: -40px; margin-left:180px;">deg</h3>
		
     </div>
     
     <div style="position: relative; background-color:white; width: 1050px; height:250px; margin-top:-50px;">
     	<div style="position:fixed; background-color:white; width: 200px; height:220px;margin-top:20px">
     		<h3 style="Font-family: Helvetica; ";>Digite o nome da cidade que você deseja saber o tempo de descolacamento partindo do Porto de Itajaí: (ex: Navegantes, Prefeitura, UFSC, Vila Germânica)</h3>
     	</div>
     	<form id="inputform2" onsubmit="return false;"> 
			<textarea id="text" name="textarea"; rows="1"; style="position:absolute;margin-top:100px; margin-left:300px;border-color: black; border-style: solid; border-width: 2px; width:200px;"placeholder="Cidade"></textarea>						
	  	</form>
	  	<div onclick="f9()" style="position:absolute;margin-top:140px; margin-left:350px;border-color: gray; background-color:black; width: 120px; height:50px;">Enviar
	 		<h3 style="margin-top:-5px;margin-left:18px;Font-family: Helvetica;color:white;cursor:pointer";>ENVIAR</h3></div> 
			<div class="container"  style= "position:absolute;width:400px; height:250px; background-color:white; margin-left:600px;margin-top:0px;" >
				<h3 style="margin-top: 50px; font-size: 30px; ">Carro:</h3>
				<h3 style="postion: fixed;margin-top: -55px; margin-left:100px;" id="car" >t</h3>
				<h3 style="margin-top: 50px; font-size: 30px; ">Ônibus:</h3>
				<h3 style="margin-top: -55px; margin-left:110px;" id="bus" >h</h3>   
     		</div>     
     </div>
      <div  style="position: relative; background-color:gray; width: 1050px; height:250px; margin-top:0px;"></div>		
		</body>
<script>
window.onload = function() {
f1();
f2();
f3();

}
setInterval(function() {
f1();
f2();
f3();
f8(document.getElementById('itjt').innerHTML,document.getElementById('itjh').innerHTML,document.getElementById('itjs').innerHTML,document.getElementById('itjd').innerHTML);

}, 60 * 1000);

function f1() {
	var param = "/Blumenau";
	SendToIndexjs(param,function(data) {
		document.getElementById('bnut').innerHTML = data[0];
		document.getElementById('bnuh').innerHTML = data[1];
		document.getElementById('bnus').innerHTML = data[2];	
		document.getElementById('bnud').innerHTML = data[3];			
	});	
}
function f2() {
	var param = "/Itajai";
	SendToIndexjs(param,function(data) {
		document.getElementById('itjt').innerHTML = data[0];
		document.getElementById('itjh').innerHTML = data[1];
		document.getElementById('itjs').innerHTML = data[2];	
		document.getElementById('itjd').innerHTML = data[3];			
	});	
}
function f3() {
	var param = "/Navegantes";
	SendToIndexjs(param,function(data) {
		document.getElementById('nvgt').innerHTML = data[0];
		document.getElementById('nvgh').innerHTML = data[1];
		document.getElementById('nvgs').innerHTML = data[2];	
		document.getElementById('nvgd').innerHTML = data[3];			
	});	
}
function f4() {
	var param = "/Directions_to_Vila";
	SendToIndexjs(param,function(data) {
	document.getElementById('car').innerHTML = data[0];
	document.getElementById('bus').innerHTML = data[1];
	f11(data[0],data[1]);			
	});	
}
function f5() {
	var param = "/Directions_to_UFSC";
	SendToIndexjs(param,function(data) {
document.getElementById('car').innerHTML = data[0];
	document.getElementById('bus').innerHTML = data[1];
	f10(data[0],data[1]);			
	});	
}
function f6() {
	var param = "/Directions_to_Prefeitura";
	SendToIndexjs(param,function(data) {
	document.getElementById('car').innerHTML = data[0];
	document.getElementById('bus').innerHTML = data[1];	
	f12(data[0],data[1]);			
	});	
}
function f7() {
	var param = "/Directions_to_Navegantes";
	SendToIndexjs(param,function(data) {
	document.getElementById('car').innerHTML = data[0];
	document.getElementById('bus').innerHTML = "UBER"	
	f13(data[0],data[1]);			
	});	
}

function RealTime() {
	var today = new Date();
	today = String(today);
	today = today.replace(" GMT-0000 (-0)","");
	today = today.replace(/\D/g,'');
	var k = today[6]+today[7];
	k = Number(k);
	k = k -3;
	if (k == -3) {
		k = 21;
		}
	if (k == -2) {
		k = 22;
		}
	if (k == -1) {
		k = 23;
		}
	k = String(k);		
	var Time = ['2018','-','07','-',today[0]+today[1]," ",k,':',today[8]+today[9],':',+today[10]+today[11]];
	Time = Time.join("");
	return Time
	
}


function f8(temp,hum,spd,dire) {
	var Time = RealTime();
	
	var param = ["/SaveParam/",Time,"_",temp,"_",hum,"_",spd,"_",dire];
param = param.join("");
	SendToIndexjs(param,function(data) {	
	});	
}

function f9() {
var Input = (document.getElementById("text").value);
	if((Input=="Navegantes")||(Input=="navegantes")){
		f7();
		}
	else if((Input=="UFSC")||(Input=="ufsc")||(Input=="Ufsc")){
		f5();
		}
	else if((Input=="Prefeitura")||(Input=="prefeitura")){
		f6();
		}
	else if((Input=="Vila Germânica")||(Input=="vila germânica")||(Input=="vila germanica")||(Input=="Vila Germanica")){
		f4();
		}	
	else {
		alert("Cidade não consta no nosso banco de dados");	
}	
}
	
function f10(car,bus) {
	var Time = RealTime();
var param = ["/SaveParamgps1/",Time,"_",car,"_",bus];
param = param.join("");
	SendToIndexjs(param,function(data) {	
	});	
}	

function f11(car,bus) {
	var Time = RealTime();
var param = ["/SaveParamgps2/",Time,car,"_",bus];
param = param.join("");
	SendToIndexjs(param,function(data) {	
	});	
}
function f12(car,bus) {
	var Time = RealTime();
var param = ["/SaveParamgps3/",Time,car,"_",bus];
param = param.join("");
	SendToIndexjs(param,function(data) {	
	});	
}

function f13(car,bus) {
	var Time = RealTime();
var param = ["/SaveParamgps5/",Time,car,"_",bus];
param = param.join("");
	SendToIndexjs(param,function(data) {	
	});	
}

</script>
<style>
h3{
font-size: 19px;}
</style>
</html>
